@page
@model EksamenProjekt_1web.Pages.Sager.Pages_Sager_Opret
@{
}

<h1>Opret Sag</h1>

<form method="post">
	<div class="form-group">
		<label asp-for="NySag." class="control-label"></label>
		<select asp-for="SagId" asp-items="@Model.Sag" class="form-control"></select>
	</div>
	<p>
		<div class="form-group">
			<input type="submit" value="Opret" class="btn btn-primary" />
		</div>
	</p>
</form>
