@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Eksamen Projekt fra <br/> 🍃 Rasekh og Medina og Tobias og Elizabeth</h1>
    <div class="text-center">
        <br /><br />
        <p>Linked til vores Github for projektet <a href="https://github.com/Rasekh1413/EksamenProjekt-1web.git">Github</a>.</p>
</div>
<br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
