@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy om projektet";
}
<h1>@ViewData["Title"]</h1>
<br>
<br>
<p>Mange Tak for Rasekh og Medina og Tobias og Elizabeth</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>