@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy om projektet";
}
<h1>@ViewData["Title"]</h1>
<br>
<br>
<p>
    Dette projektet i Github har Tobias, Medina og Rasekh som elever hos Sjællands erhvervsakademi, åbnede for at lave vores Eksamens Projekt 1 semester. Her er vores Github hvor vi har lagt vores kode for projektet som er lavet af C# og HTML med lidt CSS og Javascript programmerings, sprog som køre på Razor Pages i Microsoft Visual Studio. Med venlig hilsen

    Projektet er en prototype.

    Gruppearbejde af projektet: Tobias, Medina og Rasekh
</p>
<br>
<p>Mange Tak for Tobias, Rasekh og Medina</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>